*{
    margin:0;
    padding:0;
    }

    ul{
    padding: 0px!important;
    }
        
    .Menu-principal{
    width: 100%;
    background-color: #23238E;
    height: 60px;
    }
        
    main{
    margin: 0 auto;
    width: 980px;
    position: relative
    }     

    .img-profile{
        border-radius: 100%;
        -o-border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        max-width: 200px;
        max-height: 150px;
    }

    .logo{
    float: left;
    padding: 15px;
    width: 70%;
    }
    
    .redes-sociais ul li{
    margin-left: 21px;
    display: inline-block;       
    list-style: none;
    }
    
    .redes-sociais{
    width: 25%;    
    float: right;
    }
    
    .header-2{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
    }
    
    .menu-urls{
    border-bottom: 3px solid #efefef; 
    height: 80px;
    }
           
    .menu ul li{
    display: inline-block;
    color: black;
    margin-left: 15px;
    padding: 0px
    }
           
    .menu ul li a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    }
    
    .menu{
    width: 70%;
    float: left;
    }
        
    .busca{
    text-align: center;
    width: 30%;
    float: right;
    }
    
    .busca input{
    background-image: url('../img/BuscaLogo.png');
    background-repeat: no-repeat;
    background-position: 96%;
    border: 2px solid #d6d6d6;
    height: 36px;
    width: 190px;
    padding: 12px;
    margin-top: 7px;
    }
        
    .col-100{
    width: 100%;
    float: left;
    position: relative;
    }

    .username{
        font-weight: 300; font-size: 28px;
    }
    
    .button-edit{
        color: black !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        border-color: #dae1e7 !important;

    }
    
    .btn {
        padding: .100rem .50rem !important;
    }

    .profile-datas{
        font-size: 16px;
    }

    .nav-link-1{
        background-color: #ffffff !important;
        border-top-left-radius: .0rem !important;
        border-top-right-radius: .0rem !important;
        font-size: 12px;
        font-weight: 600;
    }
    
    .name{
        font-size: 16px;
        display: inline;
        font-weight: 600 !important;
    }
    
    .profile-desc{
        font-size: 16px;
    }

    .card{
        border: 0px solid rgba(0, 0, 0, .125) !important;
        border-radius: .0rem !important;
    }

    .card .card-img, .card-img-top{
        border-top-left-radius: 0rem !important;
        border-top-right-radius: 0rem !important;
    }